.link {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: #192542;
}

.font {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}